body{
	margin: 0;
    padding: auto;
    background-color: #E8CBB1;
    font-family: 'Marhey', cursive;
}
.nav_bar{
    background-color: #E8CBB1;
    padding: 5px 5px;
    font-family: 'Marhey', cursive;
    height: 70px;
}
.logo,
.pages{
    display: inline-block;
}
.pages{
    position: absolute;
    float: right;
}
.pages ul li{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 0 30px;
    padding-top: 8px;
}
.pages ul li a{
    position: relative;
	text-decoration: none;
    color: black;
    width: 0;
}
.pages ul li a::after{
    content: "";
    display: block;
    background-color: #4C5D70;
    height: 3px;
    width: 0%;
    border-radius: 20px;
    position: absolute;
    left: 50%;
}
.pages ul li a:hover::after{
    left: 0;
    width: 100%;
    transition: 0.3s ease-in-out;
}
.pages ul li .active::after{
    content: "";
    display: block;
    background-color: #4C5D70;
    height: 3px;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    left: 0;
}

.login{
    position: relative;
    float: right;
    background-color: #4C5D70;
    color: #E8CBB1;
    width: 120px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    margin: 17px 15px;
    padding: 5px 5px 0;
    box-shadow: 5px 5px 8px grey;
    z-index: 1;
}
.login::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #E8CBB1;
    border-radius: 30px;
    border: 2px solid #4C5D70;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.login:hover{
    color: #4C5D70;
}
.login:hover::before,
.login:focus::before{
    transform: scaleX(1);
}
.menu_bar img{
    width: 100%;
    height: 500px;
    position: absolute;
    top: -120px;
    z-index: -1;
    object-fit: cover;
}
.menu_bar ul li{
    list-style: none;
    display: inline-block;
    text-align: center;
    line-height: 0;
    position: relative;
    top: 255px;
    left: 100px;
}
.menu_bar ul li a{
	text-decoration: none;
    color: #E8CBB1;
    font-family: 'Marhey', cursive;
    font-size: 20px;
}
.menu_bar ul li .active2{
    font-size: 25px;
    background-color: #E8CBB1;
    color: #4C5D70;
    padding: 10px 50px;
    border-radius: 40px 40px 0 0;
}
.content_container{
    width: 100%;
    background-color: #E8CBB1;
    padding-top: 30px;
    position: absolute;
    top: 380px;
}
.cart_container{
    width: 55%;
    display: inline-block;
    margin-left: 5px;
}
table{
    border-collapse: separate;
    border-spacing: 0 20px;
    margin: 10px auto 50px;
    font-size: 20px;
    text-align: center;
}
table th{
    background-color: #4C5D70;
    color: white;
    font-weight: 700;
    padding: 10px;
}
table tr{
    background-color: white;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}
table tr:nth-last-child(1),
table tr:nth-last-child(2),
table tr:nth-last-child(3){
    box-shadow: none;
}
table tr:nth-last-child(1) td,
table tr:nth-last-child(2) td,
table tr:nth-last-child(3) td{
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}
table td{
    overflow: hidden;
    padding: 10px 15px;
}
table th:first-of-type,
table td:first-of-type{
    border-radius: 30px 0 0 30px;
}
table th:last-of-type,
table td:last-of-type{
    border-radius: 0 30px 30px 0;
    
}
table td img{
    width: 120px;
    position: relative;
    top: 8px;
    border-radius: 10px;
}
.remove{
    text-decoration: none;
    font-size: 15px;
    background-color: crimson;
    border: 1px solid crimson;
    border-radius: 10px;
    color: white;
    padding: 5px 8px; 
    margin: 5px;
    cursor: pointer;
}
.quantity{
    height: 50px;
    max-width: 180px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid #7C9CAB;
}
.quantity input{
    border: none;
    text-align: center;
    font-size: 25px;
    font-family: 'Marhey', cursive;
}
.quantity .num{
    width: 46%;
    padding-top: 5px;
}
.quantity .plus,
.quantity .minus{
    width: 40px;
    height: 40px;
    font-family: 'Marhey', cursive;
    font-size: 25px;
    border-radius: 50% 50%;
    background-color: #7C9CAB;
    color: white;
    text-align: center;
    cursor: pointer;
}
.order_container{
    width: 40%;
    height: 500px;
    display: inline-block;
    padding: 10px 10px 0 30px;
    position: absolute;
    top: 20px;
    padding-bottom: 20px;
}
.order_details,
.payment_details{
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 30px;
}
.header{
    background-color: #4C5D70;
    color: white;
    padding: 6px 0px;
    text-align: center;
}
.header h2{
	margin: 0;
    font-weight: 700;
}
form{
    width: 400px;
    margin: auto;
    text-align: center;
}
.user_input{
	margin: 20px 0;
    position: relative;
}
.user_input label{
	padding: 1px;
	background-color: white;
}
.c_type{
    display: inline-block;
    margin: 10px 20px;
}
.input_field{
    display: inline-block;
    position: relative;
    top: 15px;
    float: left;
    left: 30px;
}
.input_field2{
    position: relative;
    top: 42px;
    float: left;
    left: 34px;
}
.hidden{
    display: none;
}
.lb2-radio,
.lb1-radio{
    cursor: pointer;
    font-family: 'Marhey', cursive;
    font-size: 15px;
    margin-right: 5px;
    border-radius: 10px;
    position: relative;
    bottom: -5px;
}
.container,
.user_input input{
	background-color: white;
	border: 2px solid #f0f0f0;
	border-radius: 5px;
	font-size: 15px;
	width: 330px;
    margin: auto;
}
.user_input input{
    padding: 13px 10px;
}
.container{
    padding: 13px 9px;
}
input[name="d_method"]:checked + .lb1-radio{
    background-color: #7C9CAB;
    color: white;
    padding: 3px 7px;
    transition: 0.3s;
}
input[name="p_method"]:checked + .lb2-radio img{
    border: 2px solid #4C5D70;
    padding: 1px;
}
.checkout{
    font-family: 'Marhey', cursive;
    font-size: 18px;
    position: relative;
    background-color: #4C5D70;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    padding: 5px 5px 0;
    box-shadow: 4px 4px 3px grey;
    z-index: 1;
    border: none;
    margin: 40px 0 30px;
    cursor: pointer;
}
.checkout::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #4C5D70;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.checkout:hover{
    color: #4C5D70;
}
.checkout:hover::before,
.checkout:focus::before{
    transform: scaleX(1);
}

.user_input.success input{
    border-color: #2ecc71;
}
.user_input.error input{
    border-color: #e74c3c;
}
.user_input i{
    visibility: hidden;
    margin-top: 2px;
    position: absolute;
    bottom: 45px;
    right: 35px;
}
.user_input i.fa-eye{
    visibility: visible;
    color: #000000;
}
.user_input.success i.fa-eye{
    right: 30px;
}
.user_input.error i.fa-eye{
    right: 30px;
}
.user_input.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.user_input.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}
.user_input small{
    visibility: hidden;
}
.user_input.error small{
    color: #e74c3c;
    visibility: visible;
}
