@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


body{
    font-family: 'Marhey', cursive;
    background: rgba(255,250,224,0.5);
    height: 100%;
}
.header{
    background: rgba(240,237,224,1);
    width: 100%;
    padding: 10px;
    position: relative;
}
.header img{
    margin-left: 30px;
    width: 100px;
    /* background: rgba(255, 255, 255, 0.8); */
    border-radius: 5px;
    
}
.btn{
    background-color: transparent;
    border: none;
    float: right;
    margin: 10px 20px;
}
.btn i{
    color: rgba(89, 89, 89, 1);
    font-size: 40px;
}
.content{
    /* background-color: #808080; */
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: #fff;
    border-radius: 5px;
    margin: auto;
    width: 400px;
    max-width: 100%;
}
.title{
    /* background-color: #e6e6e6; */
    text-align: center;
    padding: 40px 40px 20px 40px;
    font-size: 25px;
    font-weight: bold;
}
.form{
    padding: 10px 40px;
}
.form-control{
    margin-right: 25px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control .format{
    color: #808080;
}
.form-control input{
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px 10px 10px 30px;
    font-size: 14px;
}
.form-control.success input{
    border-color: #2ecc71;
}
.form-control.error input{
    border-color: #e74c3c;
}
.form-control .icon i{
    visibility: visible;
    position: absolute;
    width: 20px;
    top: 35px;
    left: 10px;
    color: #595959;
}
.form-control i{
    visibility: hidden;
    position: absolute;
    top: 35px;
    right: 5px;
}
.form-control i.fa-eye{
    visibility: visible;
    color: #000000;
}
.form-control.success i.fa-eye{
    right: 30px;
}
.form-control.error i.fa-eye{
    right: 30px;
}
.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}
.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}
.gender-details{
    padding-top: 10px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.gender-details label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.gender{
    color: #000000;
}
.dot{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin-right: 10px;
    background: #f2f2f2;
    border: 4px solid transparent;
    transition: all 0.3s ease;
}
#male:checked ~ .gender-details label .male,
#female:checked ~ .gender-details label .female{
    background: #b3b3b3;
    border-color: #f2f2f2;
}
input[type="radio"]{
    display: none;
}
.form-control.male i.fa-male{
    color: #0e9ca5;
    visibility: visible;
}
.form-control.female i.fa-female{
    color: #f8b9d4;
    visibility: visible;
}
.form-control select{
    display: flex;
    width: 100%;
    padding: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
}
input[type="checkbox"]{
    width: auto;
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 2px;
}
.tnc{
    width: auto;
    margin-left: 20px;
    color: #000000;
}
.button{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}
.button input{
    cursor: pointer;
    display: block;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    width: calc(100% / 2);
    padding: 10px;
}
input[type="reset"]{
    margin-right: 10px;
}
p{
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Marhey', cursive;
}   